<script type="text/javascript" src="<%= basePath %>/core/js/jquery.min.js"></script>
<script type="text/javascript"  src="<%= basePath %>/core/js/require.js"  data-main="<%= basePath %>/module<%= currentPage %>.js"></script>
<!-- js的路径引用模式同css-->
</body>
</html>