<script type="text/javascript" src="<%= basePath %>/core/jquery.min.js"></script>
<script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/require.js"></script>
<!-- js的路径引用模式同css-->
</body>
</html>