<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="<%= basePath %>/public/css/style.css" rel="stylesheet" >
    <link href="<%= basePath %>/module<%= currentPage %>.css" type="text/css" rel="stylesheet" >
</head>
<body>